* {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100vh;
  }
  
  body {
    /* https://www.w3schools.com/colors/colors_gradient.asp */
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    font-family: "Open Sans", sans-serif;
    margin: 0;
  }
  
  /* https://stackoverflow.com/questions/19026884/flexbox-center-horizontally-and-vertically  */
  
  /* Author: Michael_B */
  
  .container {
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center; /* center items horizontally, in this case */
    height: 100vh;
  }
  
  h1 {
    font-family: "Oswald", sans-serif;
  }
  
  #p,
  #roi,
  #result,
  #t {
    border: 2px solid #ccc;
    border-radius: 1em;
    background-color: #f8f8f8;
    box-sizing: border-box;
    display: inline-block;
    margin: 8px 0;
    padding: 10px 10px;
    width: 100%;
  }
  
  form {
    width: 300px;
  }
  
  button {
    background-color: black;
    border: none;
    border-radius: 1em;
    color: white;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 10px 10px;
  }